<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div>

        <div class="container mt-5"><button type="button" class="btn btn-info"><i class="fa fa-plus"></i> Add
                Staff</button></div>
        <nav class="navbar navbar-light bg-light container">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

                <div class="nav-item dropdown ml-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><i class="fa fa-sort-alpha-asc"></i></a>
                        <a class="dropdown-item" href="#"><i class='fas fa-sort-alpha-down-alt'></i></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Active</a>
                        <a class="dropdown-item" href="#">Disable</a>
                    </div>
                </div>
            </form>
        </nav>
        <table class="container table table-bordered table-secondary text-center">
            <thead>
                <tr>
                    <th scope="col">Serial</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </td>
                    <td>
                        <div class="input-group mb-3">
                            <select class="custom-select" id="inputGroupSelect02">
                                <option selected>All...</option>
                                <option value="1">Hide</option>
                                <option value="2">Show up</option>

                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02">Options</label>
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <!-- <tr>
                <th scope="row">1</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr> -->

            </tbody>
        </table>
    </div>



    <div class="container">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 card">
            <div class="card-body btn btn-info">Secondary card</div>
            <form>
    
                <div class="form-group">
                    <label class="text-dark mt-3">Name :</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
    
                </div>
    
                <label class="text-dark">Status :</label>
                <div class="input-group mb-3">
    
                    <select class="custom-select" id="inputGroupSelect02">
    
                        <option value="1">Hide</option>
                        <option value="2">Show up</option>
    
                    </select>
    
                </div>
    
    
    
    
                
               <div class="text-left">
    
                   <button type="submit" class="btn btn-warning mb-3 text-center px-4"> Save </button>
                   <button type="button" class="btn btn-danger mb-3 text-center px-4"> Cancel </button>
               </div>
            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>